*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.main_container{
    display: flex;
    flex-direction: row;
}

.sidebar_container {
    position: fixed;
    width: 300px;
    height: 100%;
    left: 0;
    background: #130f40;
    color: #fff;
  }
    
.headtitle {
    padding: 10px 15px 10px 20px;
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
  }
  
.menu_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  
.menu_list li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
    padding: 15px 0px;
  }
  
.menu_list li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
  }
  
.menu_list li .fa {
    margin-right: 10px;
  }
  
.menu_list a:active,
.menu_list li a:hover,
.menu_list li a:focus {
    text-decoration: none;
    outline: none;
  }
  
.menu_list li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
.menu_list li:hover::before {
    width: 100%;
  }
  
.menu_list .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
  }
  
.menu_list .header::before {
    background-color: transparent;
  }
  
.rightPageContent_container{
        width: 100%;
        height: 100vh;
        background-color: #f4f6f9;
        margin-left: 300px;
  }
  
.topnav{
      background-color: #fff;
      padding: 20px;
      margin-bottom: 50px;
  }

.topnav a{
      color: #2c3e50;
      text-decoration: none;
      font-size: 20px;
}

#logoutBtn{
    float: right;
}

.dashboard_content{
  height: 75%;
}

.list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0px 40px 40px 40px; 
}

.list div{
  background-color:#ffffff;
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(39, 39, 39, 0.5);

}

.list p{
  font-size:18px ;
  font-weight: bold;
}
.footer{
  background-color: #fff;
  color: #2c3e50;
}
.copyright{
  text-align: center;
  padding: 20px 0px;
}


/******************** Pages (Category, Inventory, Purchase, Sales, Vendor)***********************************/
.page-table{
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 40px auto;
    padding: 20px;
    width: 90%;
    height: 100vh;

}

.page_title{
    margin-bottom: 20px;
}

.page_title span{
    color:#130f40 ;
    font-size: 25px;
    font-weight: bold;
}

.page_title button{
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 40px;
}

.modal{  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 50px 20px 20px;
  overflow: auto;
}

.modal_btn{
    padding: 20px;

}

#editbtn{
    float: right;
}

/*=============================================== Media Query ====================================================*/
/* Small devices (portrait tablets and phones, below 768px) */
@media only screen and (max-width:768px) {

.sidebar_container{
  width: 130px;
}
  
#toggleBtn{
  display: none;
}

#logoutBtn{
  margin-bottom: 0px;
  font-size: 18px;
}
  
.headtitle {
  font-size: 15px;
}
  
.menu_list li a {
  padding: 10px 0px 10px 10px;
}
  
.rightPageContent_container{
  margin-left: 130px;
}
    
.topnav{
  padding-bottom: 40px;
}

.dashboard_content{
  height: 100%;
}

.list{
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.list div{
  height: 100px;
  text-align: center;
}

.list p{
  font-size:15px ;
} 

.page_title span{
  font-size: 20px;
}

.page_title button{
  font-size: 18px;
  width: 40px;
}

.copyright{
  font-size: 12px;
}
 
}



